body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    height: auto;
    margin-top: 50px;
    width: 100%;

}

.container {
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20vw;
    margin-left: 32%;

}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}

button:hover {
    background-color: #45a049;
}

.data {
    border: 3px solid red;
    width: 85vw;
    height: auto;
    margin-top: 4vh;
    padding: 3%;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: -100px;
    background-color: rgb(89, 90, 93);
}

div img{
    width:40vw;
    height: 60vh;
    border: 3px solid blanchedalmond;
}